.modal-interior{
	background:#fff;
	position: absolute;
	top:15%;
	right:2%;
	/*min-height: 150px;*/
	min-width:300px;
	padding:1rem 1rem 0 1rem;
}
.modal-interior textarea{
	height:100%;
	/*padding:1rem 1rem 0 1rem;*/
}
.red-dot-light{
	background: rgba(240,0,0,0.5);
	height:20px;
	width:20px;
	border-radius:50%;
}
.green-dot-light{
	background: rgba(0,240,0,0.5);
	height:20px;
	width:20px;
	border-radius:50%;
}
.blue-dot-light{
	background: rgba(0,0,240,0.5);
	height:20px;
	width:20px;
	border-radius:50%;
}


body.is-reveal-open {
	overflow: visible;
}